body,html,ul, li, h1, p, button,input{ 
  margin:0; 
  padding:0; 
}
body {
  color:#111;
  font:12px/16px "微软雅黑";
  width:100%;
  height:100%;
  background:#f7f7f7;
  min-width: 1238px;
  overflow-y:scroll;
}
input{
  outline: none;
}
ul { 
  list-style:none;
}
.clearfix:after{
  height: 0;
  display: block;
  overflow: hidden;
  content: '';
  clear: both;
}
.poi_t{
 
  min-width: 1238px;
  margin:24px 0;
}
.poi_title{
  font-size: 26px;
  font-weight: 700;
  color:#333;
  padding:26px 0;
  background: #88d9ff;
  border-bottom: 1px solid #35aae0;
  text-align: center;
  font-family:'Microsoft Yahei';
}
.poi_field{
  display: inline-block;
  text-align: left;
  font-size: 14px;
}
.relichengdu{
  margin-left: 10px;
}
a{
  cursor: pointer;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
#reli,#dqcs{
  width: 50px;
  padding-left: 10px;
}
/*.ditubiaoji{
  margin-left: 100px;
}*/

.poi_t input{
  height: 20px;
  outline:none;
  margin:0 10px 0 5px;
  border:1px solid #ccc;
}
.poi_t #biaoji{
  outline: none;
  width: 120px;
  padding-left: 5px;
  height: 22px;
  margin-left: 5px;
  border:1px solid #ccc;
}

.input_btn{
  padding:0 16px;
  background: #2a8de2;
  border:1px solid #1d81d6!important;
  color: #fff;
  cursor: pointer;
  height: 22px!important;
  outline: none;
  font-family: 'Microsoft Yahei';
  font-size: 12px;
}

#nav{
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 8;
}
#nav .nav_con{
  margin-right: 20px;
}
#nav .nav_con .nav_con_top{
  margin-bottom: 10px;
}
#nav .nav_con .tab_top{
  display: none;
}
#nav .nav_con .nav_con_bottom{
  height: 391px;
  overflow: hidden;
}
#nav .nav_con .nav_con_bottom:after{
  content:"";
  display: block;
  height: 0;
  clear:both;
  visibility: hidden;
  overflow: hidden;
}

#nav .nav_con .nav_bottom_c{
  width: 33.3333333333%;
  float: left;
}

#nav .nav_con .nav_bottom_c > table tbody{
  height: 358px;
  overflow:auto;
  display: block;
  margin-top: -1px;
}
#nav .nav_con .nav_bottom_c > table tbody tr{
  cursor: pointer;
}
#nav .nav_con .nav_bottom_c > table td{
  width: 200px;
  text-align: center;
}
#nav .nav_con .nav_bottom_c > table td.td_l{
  width: 20%!important;
}
#nav .nav_con .nav_bottom_c > table td.td_r{
  text-align: left;
  width: 80%;
  padding-left: 20px;
  word-break:break-all;
}
#nav .nav_con .nav_bottom_c > table td.td_rr{
  border:none;
}
#nav .nav_con .nav_b_l{
  float: left;
}
#nav .nav_con .nav_b_r{
  float: right;
}
#poi_m{
   position: relative;
   min-width: 1200px;
   height: 420px;
}
@media(min-width:1500px){
  #poi_m{
   height: 520px;
  }
  #nav .nav_con .nav_bottom_c > table tbody{
   height: 460px;
  }
  #nav .nav_con .nav_con_bottom{
   height: 491px;
  }
}
.poi_m_l{
  display: inline-block;
}
.uidd{
  cursor:pointer;
}


#ditu{
  width: 60%;
  min-width: 780px;
  height: 100%;
}
#root{
  margin-left: 20px;
  margin-right:20px!important;
  height: 100%;
  border:1px solid #ccc;
  position: relative;
}

table{
  border:0px solid #ebebeb;
  border-collapse:collapse; 
  font-family:"微软雅黑"; 
  border-spacing:0;
}
table tbody{
  background: #f7f7f7;
}
table tr th{
  border:1px solid #cdcdcd;
  padding:7px 0px; 
  font-size:14px; 
  font-weight:bolder; 
  color:#333;
  text-align:center; 
  background:#f3f3f3; 
}
table tr td{
  border:1px solid #ddd; 
  background: #fff;
  padding:7px 0px;
  font-size:13px;   
  color:#111;  
  font-family: '微软雅黑';
  text-align:center;
}
table tr td a{ 
  color:#025ebc; 
  text-decoration:none;
}
table tr td a:hover{ 
  color:#025ebc; 
  text-decoration:none;
}
table span{
  font-family: 'Arial';
}
#poifenlei{
    display: block;
    margin-top: 20px;
    margin-left: 20px;
}

.mapInfo { 
  overflow: hidden;
  position: relative;
  min-height: 100px;
}
#poi{
  padding:20px;
  width:58%;
}
#poi table{
  width: 90%;
}
#debug{
  position: relative;
  text-align: left;
  padding:20px 0 40px 80px;
  color: #444;
  border:1px solid #ccc;
}
#debug_title{
  position: absolute;
  top: 20px;
  left: 0;
  color: #000;
  font-weight: 700;
}
#poi_tuli{
  width: 60%;
}
#tuli{
  padding-left: 20px;
  padding-top: 20px;
}
#tuli span{
  vertical-align: middle;
}
#tuli span.icon_guai{
  vertical-align: top;
}
#tuli ul{
  display: inline-block;
}
#tuli ul li{
  display: inline-block;
  margin:3px 0;
  vertical-align: middle;
  padding-right: 6px;
}
#tuli ul li i{
  display: inline-block;
  margin:0 4px 0 6px;
  width: 7px;
  height: 7px;
}
#tuli ul li i.iconfont{
  margin:1px 7px 0 3px;
  vertical-align: top;
}
#ajax_tip{
  position: absolute;
  top: 200px;
  left: 25%;
  width: 50%;
  z-index: 9999;
  background: rgba(0,0,0,0.6);
  filter:alpha(opacity=60);
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 90px;
  display: none;

}
#ajax_before_tip{
  position: absolute;
  top: 200px;
  left:50%;
  margin-left: -40px;
  z-index: 9999;
  text-align: center;
  display: none;
}

/* poke_dgbg */
#tab_top tr td{
  padding: 3px 0;
}
#tab_top td input{
  width: 100%;
  border: none;
  text-align: center;
}

.poifl{
  width: 166px;
  height: 24px;
  line-height: 24px;
  padding-left: 10px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border:1px solid #ccc;
  background: url(../images/arrow.png) no-repeat 158px center #fff;
  cursor: pointer;
}
.poifl_in{
  position: absolute;
  top:25px;
  left: -1px;
  z-index: 50;
  background: #f1f1f1;
  border:1px solid #ccc;
  border-top: none;
  width: 100%;
  height: 0;
  display: block;
  overflow: hidden;
}


.poifl_in .poi_btn{
  border-top: 1px solid #ccc;
  margin-top: 8px;
}
.poifl_in div button{
  width: 58px;
  outline: none;
  padding: 3px 0;
  background: none;
  border: none;
  border-right: 1px solid #ccc;
  color: #044a94;
  font-size: 12px;
  cursor: pointer;
  font-family: 'Microsoft Yahei';
}
#poifl_1{
  margin-right: 10px;
}
.poifl span{
  display: block;
  width: 140px;
  height: 24px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.poifl_in ul li{
  min-width: 46%;
  float: left;
  font-size: 12px;
  padding-left: 6px;
  text-align: left;
  position: relative;
}
.poifl_in input{
  margin: 0;
  vertical-align: middle;
}


.poi_radio{
  display: table;
  width:100%;
  height:30px;
  line-height: 30px;
  border:1px solid #ccc;
  border-bottom:none;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
.poi_radio a{
  display:table-cell;
  background-color: #f1f1f1;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}
.poi_radio a.active{
  color:#fff;
}
.poi_radio a.poi_cur{
  background-color: #2a8de2;
  color:#fff;
}
.poi_radio a:first-child{
  border-right:1px solid #ccc;
}

/* autocomplete */
#ui-id-1{
  background:rgba(243,243,243,0.9);
  filter:alpha(opacity=90);
  border:1px solid #dedede;
  z-index: 1000;
  position: absolute;
  top: 117px!important;
  left: 108px!important;
  display: none;
}
#ui-id-1 li{
  margin:8px; 
  cursor: pointer;
}
#ui-id-1 li.autoli_cur{
  background:#2a8de2;
  color:#fff!important;
}
#ui-id-1 li.autoli_cur span{
  color: #fff!important;
}
#ui-id-1 li span{
  font-size:12px;
  color:#666;
}
#ui-id-1 li em,#ui-id-1 li i{
  display: none;
}
/* imgshow_css */
#tinybox{
  position:absolute;
  display:none; 
  padding:10px; 
  background:#ffffff url(../images/preload.gif) no-repeat 50% 50%; 
  border:10px solid #e3e3e3; 
  z-index:2000;
}
#tinymask{
  position:absolute; 
  display:none; 
  top:0; 
  left:0; 
  height:100%; 
  width:100%; 
  background:#000000; 
  z-index:1500;
}
/* 新增版本功能 */
.banben_sel{
  position: absolute;
  top:93px;
  right: 22px;
  font-size:14px;
}
#banben_sel{
  outline: none;
  width: 136px;
  padding-left: 5px;
  height: 22px;
  margin-left: 5px;
  border:1px solid #ccc;
}

@media (max-width:1400px){
  .banben_sel{
    top:40px;
  }
}

/* citys */
.cityinput{
  background-image: none;
  background-color: #fff;
} 

/* table-show */
.table_show{
  display: inline-block;
  font-size:12px;
  height: 20px!important;
  line-height: 20px;
}


.nav_bottom_c td i{
  color:#fff;
  font-style:normal;
  display:inline-block;
  height:18px;
  width:18px;
  border-radius:4px;
  text-align:center;
  line-height:18px;
  font-size:12px;
}
.nav_bottom_c td i.bu{
  background:#f27271;
  margin-right:8px;
}
.nav_bottom_c td i.xu{
  background:#6cbc43;
}